body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

.cliente-info {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

p {
    margin: 0 0 10px;
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.float {
    background-color: #bdbdbd;
    color: #111;
    display: inline-block;
    border: 4px solid #bdbdbd;
    border-radius: 7px;
    font-size: 24px;
    width: 300px; /* ajuste conforme necessário */
    height: 200px; /* ajuste conforme necessário */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.cancelar{
    background-color:red;
}

.cancelar:hover{
    background-color: rgb(150, 0, 0);
}