body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.prox > button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 8px;
}

.prox > button:hover{
    background-color: #5f5f5f;
}

/*css do carrinho*/

.carrinho{
    position: fixed;
    right: 40px;
    display: flex;
    line-height: column;
    margin: 0;
    background-color: #cdcdcd;
    border-radius: 20px;
    align-items: center;
}

.carrinho > img{
    max-width: 100px;
}
.carrinho > img:hover{
    cursor: pointer;
}

.carrinho2{
    padding-right: 20px;
}